.card {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 300px;
  transition: all 0.15s ease-out;
}

.card:hover {
  translate: 3px 3px;
  box-shadow: 3px 3px #000000;
}

.card img {
  width: 300px;
}

.card h1 {
  font-size: 24px;
  color: #000000;
}

.card h2 {
  font-size: 18px;
  color: #000000;
}

.card a {
  font-size: 24px;
  color: #000000;
}