.flex {
  display: flex;
  justify-content: center;
}

h1 {
  color: #000000;
  text-align: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

input:focus {
  outline: none;
}

input[type='text'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type='number'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.btn-add[type='submit'] {
  background-color: #28a745;
  color: #fff;
}

.btn-cancel[type='reset'] {
  background-color: #fff;
  color: #e53939;
  border: 1px solid #e53939;
}

.btn-add:hover {
  opacity: 0.9;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}